.b-greeting {
	height: 270px;
	width: 570px;
	padding: 36px 36px 24px 36px; 
	background-color: #ebebeb;
	position: relative;
	left: 420px;
	bottom: 80px;
	color: #000;
	text-shadow: none;
	h1 {
		margin: 0;
		margin-bottom: 45px;
		font-size: 18px;
	}

	p {
		font-size: 15px
	}

	.slider-pattern {
		margin-top: 30px;
	}
}


.carousel-indicators li {
	background-color: #fff;
	margin: 10px;
}

.carousel-indicators .active {
	height: 15px;
	width: 15px;
	background-color: $accent-color;
	border: 2px solid #fff;
	margin: 7px;
}

.sprite {
    background-image: url('../../img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-complex {
    width: 112px;
    height: 112px;
    background-position: -5px -5px;
}

.sprite-contemp {
    width: 112px;
    height: 112px;
    background-position: -127px -5px;
}

.sprite-quiet {
    width: 112px;
    height: 112px;
    background-position: -249px -5px;
}

.sprite-rest {
    width: 112px;
    height: 112px;
    background-position: -371px -5px;
}

.sprite-service {
    width: 112px;
    height: 112px;
    background-position: -493px -5px;
}

.sprite-spa {
    width: 112px;
    height: 112px;
    background-position: -615px -5px;
}

.sprite-wifi {
    width: 112px;
    height: 112px;
    background-position: -737px -5px;
}

.service {
	padding-top: 45px;
	margin-bottom: 45px;
}

.b-services {
	i {
		display: block;
		margin: 0 auto;
	}
	.b-services__title {
		font-family: 'Roboto-Bold';
		margin-bottom: 29px;
		margin-top: 27px;
	}
}

.photos {
	[class^="col-"] {
		padding: 6px;
	}
}

.roomes {
	margin-top: 40px;
	.b-pattern__title {
		font-size: 24px;
	}
}

.b-pattern {
	margin-bottom: 70px;
}

.b-slider-pattern {
	background-image: url("../../img/slider-pattern.png");
	height: 60px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.b-room {
	margin-bottom: 100px;
	.b-room__border-order {
		border: 1px solid #e9e0c7;
	}
	.b-room__title {
		font-size: 18px;
		font-weight: bold;
	}

	.b-room__text {
		margin-bottom: 50px;
	}
}

.bottom-pattern {
	background-image: url("../../img/bottom-pattern.png");
	height: 60px;
	background-repeat: no-repeat;
}

.b-contacts {
    margin-bottom: 80px;
    ul {
        padding-left: 40px;
        font-size: 16px;
        .phone-item {
            margin-bottom: 10px;
            // color: #000;
        }
    }
}
.b-contacts__title-main {
    font-size: 24px;
    font-family: 'Roboto-Bold';
}

.b-contacts__title {
    font-size: 18px;
    font-family: "Roboto-Bold";
    margin-bottom: 20px;
}

.map {
	margin-top: 30px;
}

.weather {
	margin-top: 30px;
}

.b-slider-pattern_pos {
	position: relative;
	top: 20px;
}


.text-color-accent {
    color: $accent-color;
    &:hover {
        color: $accent-color;
    }
}